* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eff3f7;
}

body,
html,
#root,
.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

@media screen and (max-width: 660px) {
  #root {
    display: block;
  }
}
