.movies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 70px;
  width: 85%;
}

.movies .movie {
  width: 47%;
  min-width: 500px;
  background-color: white;
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3);
}

.movie img {
  position: relative;
  top: -50px;
  max-width: 120px;
  margin-right: 30px;
}

.movie .movie__title,
.movie .movie__year {
  margin: 0px;
  font-weight: 900;
}

.movie .movie__title {
  margin-bottom: 10px;
  font-size: 24px;
}

.movie .movie__summary {
  margin: 0px;
  margin-top: 10px;
  /* display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden; */
}

.movie .movie__genres,
.movie .movie__year,
.movie .movie__summary {
  opacity: 0.5;
}

.movie .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.movie__genres li {
  margin: 5px;
  font-size: 14px;
  /* display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden; */
}
